<template name="useGameCard">
  {{#if userId}}
    <button class="btn btn-default btn-xs useGameCard">Use Card</button>
  {{/if}}
</template>

<template name="selectGameDeck">
  {{#if userId}}
    {{#with ownedDecks}}
      <h2> Select a deck </h2>
      {{> deckList type="custom" data=decks customClass="selectDeck"}}
    {{/with}}
  {{/if}}
</template>

<template name="gameMessages">
  <div id="gameStateOutput" class="gameMessages">
    {{#each game.messages}}
      <div  class="chatMessage">{{this}}</div>
    {{/each}}
  </div>
</template>

<template name="gamePlayers">
  <h3>Players</h3>
  {{#each players}}
    <div class="playerName {{isActive}}">{{player.playerName}}</div>
  {{/each}}
</template>

<template name="gamePage">
  <div class="gamePage">
    {{#with gameData}}
      <div class="gameContainer {{isActivePlayer}}">
        {{#if equals game.state.current "init"}}
          <div class="row">
            <div class="col-xs-10">
              {{> gameMessages}}
            </div>
            <div class="col-xs-2">
              {{> gamePlayers}}
            </div>
          </div>
          {{> selectGameDeck}}
        {{/if}}

        {{#if equals game.state.current "playing"}}
          <div class="row">
            <div class="col-xs-10">
              {{> gameMessages}}
            </div>
            <div class="players col-xs-2">
              {{> gamePlayers}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <div class="playerStats">
                <div class="playerHealth">
                  Health: {{playerHealth}}
                </div>
                <div class="playerMana">
                  Mana: {{playerCurrentMana}}/{{playerMaxMana}}
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="playerZones">
                <div class="playerDeck">
                  {{playerDeck}}
                </div>
                <div class="playerDiscard">
                  {{playerDiscard}}
                </div>
                <div class="playerExile">
                  {{playerExile}}
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="playerCards">
                {{#with playerCards}}
                  {{> cardList type="custom" data=cards customClass="useGameCard"}}
                {{/with}}
              </div>
            </div>
          </div>
        {{/if}}

        {{#if equals game.state.current "finished"}}
          <div class="row">
            <div class="col-xs-10">
              {{> gameMessages}}
            </div>
            <div class="col-xs-2">
              {{> gamePlayers}}
            </div>
          </div>
        {{/if}}
      </div>
    {{/with}}
  </div>
</template>
