.gamePage {
  margin-top: 10px;

  .targetsPanel {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #FFF;
    padding: 3px;
    z-index: 5;

    .target {
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      border: 1px solid #AAA;
      border-radius: 3px;

      &:hover {
        background-color: #EEE;
      }
    }
  }

  .gameContainer {

    .useGameCard {
      cursor: pointer;
      position: relative;
      z-index: 10;

      &.canUse:hover > .card > .card {
        border: 3px solid #0F0;
        top: 10px;

      }

    }

    .gameMessages {
      height: 300px;
      overflow-y: scroll;

      .stateMessage {
        background-color: #EEE;
        border-bottom: 1px solid #DDD;
        padding: 3px;

        &.system {
          font-style: italic;
          color: #949494;
          font-size: smaller;
        }

      }
    }

    .players {
      .playerName {
        border-radius: 5px;
        padding: 3px;
        background-color: transparent;
        transition: background-color 0.5s;

        &.isActive {
          background-color: #0F0;
        }

        .playerAttr {
          padding: 2px;
          border-radius: 3px;

          &.name {
            font-weight: bold;
          }

          &.health {
            background-color: #FF8484;
          }

          &.mana {
            background-color: #8585EC;
          }

        }

      }
    }

    .playerCards {

      white-space: nowrap;
      overflow-x: scroll;

      .cardList {
        height: 350px;
      }

      .card-container {
        width: 110px;
        height: 180px;
        .card .card {
          width: 105px;
          height: 170px;
          position: relative;
          top: 20px;

          .head {
            font-size: 9px;
          }

          .picture {
            height: 75px;
          }

          .body {
              font-size: 6px;
          }

        }
      }

      .card-container:hover {
        width: 210px;
        height: 340px;

        .card .card {
          width: 200px;
          height: 300px;

          .head {
            font-size: 15px;
          }

          .picture {
            height: 150px;
          }

          .body {
            font-size: 12px;
          }
        }
      }
    }
  }
}
