.gamePage {

  .gameContainer {

    transition: border 0.5s, padding 0.5s;
    border: 5px solid rgba(0,0,0,0);

    &.isActive {
      border: 5px solid #0F0;
    }

    .gameMessages {
      height: 300px;
      overflow-y: scroll;

      .chatMessage {
        background-color: #EEE;
      }
    }

    .players {
    }

    .playerCards {

      white-space: nowrap;
      overflow-x: scroll;

      .card-container {
        width: 110px;
        height: 180px;
        .card .card {
          width: 105px;
          height: 170px;

          .head {
            font-size: 9px;
          }

          .picture {
            height: 75px;
          }

          .body {
              font-size: 6px;
          }

        }
      }
    }
  }
}
