<template name="gamesPage">
  <div class="gamesPage">
    <div class="row">
      <div class="col-xs-12">
        <button class="newGame">Create new game</button>
        <table class="table">
          <thead>
            <th>Game Id</th>
            <th>Creator</th>
            <th>Game State</th>
            <th>Player State</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {{#each games}}
              <tr class="gameRow">
                <td>{{_id}}</td>
                {{#with game}}
                  <td>{{creator}}</td>
                  <td>
                    {{#with state}}
                      Current State:
                      {{current}}
                    {{/with}}
                  </td>
                  <td>
                    {{#each playerData}}
                      <h3>Player: {{playerId}}</h3>
                      <ul>
                        <li>
                          <strong>Deck:</strong>
                          {{#each deck}}
                            {{this}}
                          {{/each}}
                        </li>
                        <li>
                          <strong>Hand:</strong>
                          {{#each hand}}
                            {{this}}
                          {{/each}}
                        </li>
                        <li>
                          <strong>Battlefield:</strong>
                          {{#each battlefield}}
                            {{this}}
                          {{/each}}
                        </li>
                      </ul>
                    {{/each}}
                  </td>
                {{/with}}
                <td>
                  {{#if equals game.state.current "begin" }}
                    <button class="useDeck">Use A Deck</button>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
