<template name="gamesPage">
  <div class="gamesPage">
    <div class="row">
      <div class="col-xs-12">
        <button class="newGame">Create new game</button>
        <table class="table">
          <thead>
            <th>Game Id</th>
            <th>Creator</th>
            <th>Game State</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {{#each games}}
              <tr class="gameRow">
                <td>{{_id}}</td>
                {{#with game}}
                  <td>{{creator}}</td>
                  <td>
                    {{#with state}}
                      Current State:
                      {{current}}
                    {{/with}}
                  </td>
                {{/with}}
                <td>
                  <button class="enterGame">Enter Game</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
