<template name="deckOverview">
  {{#with deck}}
    <div class="deckRow">
      {{name}}
      {{cards}}
    </div>
  {{/with}}
</template>

<template name="deckDetailed">
  {{#with deck}}
    <div class="deckRow">
      {{name}}
      {{#each cards}}
        {{> card}}
        <div class="card-controls"></div>
      {{/each}}
    </div>
  {{/with}}
</template>

<template name="deck">
  {{#if equals type "overview"}}
    {{> deckOverview}}
  {{/if}}
  {{#if equals type "detailed"}}
    {{> deckDetailed}}
  {{/if}}
</template>
