.cardList {
  padding-right: 5px;
  padding-left: 5px;
  
  .card-container {
    width: 210px;
    height: 340px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-top: 6px;
  }

  .card-controls {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .editDeckCards, .deckCards {
      .card-container {
        cursor: pointer;
      }
  }
}
