<template name="cardList">
  <div class="cardList">
    {{#if equals type "all"}}
      {{> allCards}}
    {{/if}}
    {{#if equals type "user"}}
      {{> userCards}}
    {{/if}}
    {{#if equals type "edit"}}
      {{> editDeckCards}}
    {{/if}}
  </div>
</template>

<template name="userCards">
  {{#each cards}}
    <div class="card-container">
      {{#with card}}
        {{> card }}
      {{/with}}
      <div class="card-controls">
        <button class="remove btn btn-danger btn-xs">remove</button>
      </div>
    </div>
  {{/each}}
</template>

<template name="allCards">
  <input type="text" class="filter form-control" placeholder="Filter..." />
  {{#each cards}}
    <div class="card-container">
      {{> card}}
      <div class="card-controls">
        <button class="report btn btn-default btn-xs">info</button>
        <button {{ifFalse userId "disabled"}} class="acquire btn btn-default btn-xs">acquire</button>
        <button class="delete btn btn-danger btn-xs">delete</button>
      </div>
    </div>
  {{/each}}
</template>

<template name="editDeckCards">
  {{#each cards}}
    <div class="card-container">
      {{#with card}}
        {{> card }}
      {{/with}}
      <div class="card-controls">
        {{#if exists}}
          <button class="removeFromDeck btn btn-default btn-xs">remove</button>
        {{else}}
          <button class="addToDeck btn btn-default btn-xs">add</button>
        {{/if}}
      </div>
    </div>
  {{/each}}
</template>
