.card-container {
  width: 210px;
  height: 340px;
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.card-controls {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
