

<template name="userDecks">
  <div class="userDecks">
    <table class="table">
      <tbody>
        {{#each ownedDecks}}
          <tr>
            <td>
              <div class="deckControls">
                <button class="editDeck btn btn-default btn-xs">Edit</button>
                <button class="changeName btn btn-default btn-xs">Change Name</button>
                <button class="removeDeck btn btn-danger btn-xs">Remove</button>
              </div>
              <div class="userDecksOutput">
                {{> deck}}
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="userPanel">
  <div class="userPanel">
    <h3> Your Owned Cards </h3>
    {{> cardList type="user" }}
    <h3> Your Decks<button class="addNewDeck btn btn-default btn-xs">+</button></h3>
    {{> userDecks}}
  </div>
</template>
