<template name="editDeckPage">
  <div class="editDeckPage">
    {{#with loadDeck}}
    <div class="row">
      <div class="col-xs-6">
        <h2>Your Cards</h2>
        {{#with userCards}}
          {{> cardList data=cards customClass="editDeckUserCard"}}
        {{/with}}
      </div>
      <div class="col-xs-6">
        <h2>Deck Cards</h2>
        <h3 class="deckName">{{deck.name}}</h3>
        {{> cardList data=deck.cards customClass="editDeckCard" }}
      </div>
    </div>
    {{/with}}
  </div>
</template>
