<template name="roomsPage">
  <div class="roomsPage">
    <div class="row">
      <div class="col-xs-2">
        <div class="roomControls">
          <div class="addNewRoom {{disableNoUser}}">New Room</div>
          <div class="rooms">
            {{#each rooms}}
              <div class="room {{isSelected}}">{{name}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-xs-10">
        {{#with room}}
          {{> chatRoom room=room}}
        {{else}}
          <h2> Not in a room </h2>
        {{/with}}
      </div>
    </div>
  </div>
</template>
