.card {

	.card {
		width: 200px;
	  height: 300px;
	  border: 1px solid #555;
	  border-radius: 5px;
	  padding: 2px;
		margin: auto;
		white-space: nowrap;
		overflow: hidden;
		font-size: 15px;
		position: relative;
		box-shadow: 7px 6px 12px 0px #AAA;
		background-color: #FFF;
    transition: top 0.5s, width 0.5s, height 0.5s;
    -webkit-transition: top 0.5s, width 0.5s, height 0.5s;

		.head, .body {
	    transition: font-size 0.5s;
	    -webkit-transition: font-size 0.5s;
		}

		.head {
			font-size: 15px;
			font-weight: bold;
		}

		.picture {
			width: 100%;
			background-color: #EEE;
			height: 150px;
			border: 1px solid #000;
	    transition: top 0.5s, width 0.5s, height 0.5s;
	    -webkit-transition: top 0.5s, width 0.5s, height 0.5s;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.body {
			white-space: normal;
			font-size: 12px;
		}

		.controls {
			position: absolute;
			right: 2px;
			bottom: 2px;
		}

	}

	.countMeter {
		position: absolute;
	  right: -10px;
	  bottom: 50%;
	  font-size: 15px;
	  background-color: #222;
	  color: #EEE;
	  display: block;
	  z-index: 10;
	  padding: 2px;
	  border-radius: 2px;
	  border: 1px solid #AAA;
	  width: 40px;
	  text-align: center;
	}
}
